.Weather {
  font-family: "Nosifer", sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 10px;
}

.Weather h2 {
  font-size: 20px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 20px;
}
.Weather canvas {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather li {
  font-size: 13px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  bottom: 100%;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 300;
  position: relative;
  line-height: 0;
  top: -30px;
}
