.Weather {
  font-family: "Nosifer", sans-serif;
  border: 1px solid grey;
  color: rgb(85, 149, 27);
  padding: 16px;
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgb(20, 20, 20);
}

.Weather h2 {
  font-size: 40px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
  color: rgb(255, 67, 5);
  padding: 15px;
  box-shadow: 5px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 20px;
}
.Weather canvas {
  height: 64px;
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}

.Weather li {
  font-size: 13px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(255, 67, 5);
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  bottom: 100%;
}

.Weather .unit {
  color: rgb(255, 67, 5);
  font-size: 16px;
  font-weight: 300;
  position: relative;
  line-height: 0;
  top: -30px;
}
